Repository ansys/ansys-tools-filetransfer-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: clang-format
      name: clang-format
      entry: clang-format
      args: [-i]
      language: system
      types: [c++]
      files: |
        (?x)(
          ^src|
        )
    - id: clang-tidy
      name: clang-tidy
      entry: run-clang-tidy
      args: ["-p", "build"]
      language: system
      types: [c++]
      require_serial: true # run-clang-tidy handles parallel execution
      files: |
        (?x)(
          ^src/
        )
      exclude: |
        (?x)(
          .h$|
          .hpp$
        )

Partially fix conan2 configuration
  CMakeLists.txt
  README.md
  conan/conanfile.txt
  conan/linux_x86_64_Release
  conan/windows_x86_64_Release
  src/CMakeLists.txt
  src/lib/CMakeLists.txt
Due: none

Add missing 'settings.os' on Linux
  conan/linux_x86_64_Release
  conan/windows_x86_64_Release
Due: none

Add debug output
  .github/workflows/ci_cd.yml
Due: none

Fix Linux build
  .github/workflows/ci_cd.yml
  docker/Dockerfile
  src/CMakeLists.txt
  src/lib/CMakeLists.txt
  src/lib/exception_handling.cpp
Due: clang-format, clang-tidy

Re-activate pre-commit stage
  docker/Dockerfile
Due: none

Explicitly specify CMAKE_BUILD_TYPE in CI
  .github/workflows/ci_cd.yml
Due: none

Re-add syntax specifier
  docker/Dockerfile
Due: none

Add stacktrace_addr2line on Linux
  src/CMakeLists.txt
  src/lib/CMakeLists.txt
  src/lib/exception_handling.cpp
Due: clang-format, clang-tidy

Fix CI for Windows
  .github/workflows/ci_cd.yml
  README.md
Due: none

Remove unused / debug code
  .github/workflows/ci_cd.yml
  src/CMakeLists.txt
Due: none

Remove caching for Docker build in actions
  .github/workflows/ci_cd.yml
Due: none

Fix copy location of server
  docker/Dockerfile
Due: none

Upgrade conan to version 2 (#43)
  .github/workflows/ci_cd.yml
  CMakeLists.txt
  README.md
  conan/conanfile.txt
  conan/linux_x86_64_Release
  conan/windows_x86_64_Release
  docker/Dockerfile
  requirements_dev.txt
  src/CMakeLists.txt
  src/lib/CMakeLists.txt
Due: none

Add and run pre-commit hook to add license headers
  .pre-commit-config.yaml
  src/lib/exception_handling.cpp
  src/lib/exception_handling.h
  src/lib/exception_types.h
  src/lib/filetransfer_service.h
  src/lib/filetransfer_service_download.cpp
  src/lib/filetransfer_service_upload.cpp
  src/lib/sha1_digest.cpp
  src/lib/sha1_digest.h
  src/server.cpp
Due: clang-format, clang-tidy

Fix clang-format editing the copyright header
  .clang-format
Due: none

Add and run pre-commit hook to add license headers (#64)
  .clang-format
  .pre-commit-config.yaml
  src/lib/exception_handling.cpp
  src/lib/exception_handling.h
  src/lib/exception_types.h
  src/lib/filetransfer_service.h
  src/lib/filetransfer_service_download.cpp
  src/lib/filetransfer_service_upload.cpp
  src/lib/sha1_digest.cpp
  src/lib/sha1_digest.h
  src/server.cpp
Due: clang-format, clang-tidy

Update README
  README.md
Due: none

Update README (#65)
  README.md
Due: none

Add back minimal (from scratch) Docker image
  .github/workflows/ci_cd.yml
  docker/Dockerfile
Due: none

Update name in CLI output
  src/server.cpp
Due: clang-format, clang-tidy

Switch to using clang-format from pre-commit repo
  .pre-commit-config.yaml
  src/lib/exception_handling.cpp
  src/server.cpp
Due: clang-format, clang-tidy

Add back minimal (from scratch) Docker image (#66)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  docker/Dockerfile
  src/lib/exception_handling.cpp
  src/server.cpp
Due: clang-format, clang-tidy

Add AUTHORS file
  AUTHORS
Due: none

Add AUTHORS file (#67)
  AUTHORS
Due: none

Update pre-commit hooks, fixes license header step
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks, fixes license header step (#69)
  .pre-commit-config.yaml
Due: none

Switch to public API submodule
  .gitmodules
Due: none

Switch to public API submodule (#71)
  .gitmodules
Due: none

docs: add note and correct typos
  README.md
Due: none

feat: add CONTRIBUTORS file
  CONTRIBUTORS.md
Due: none

feat: add CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Due: none

feat: add CONTRIBUTING
  CONTRIBUTING.md
Due: none

fix: modify start date on license headers
  .pre-commit-config.yaml
  src/lib/exception_handling.cpp
  src/lib/exception_handling.h
  src/lib/exception_types.h
  src/lib/filetransfer_service.h
  src/lib/filetransfer_service_download.cpp
  src/lib/filetransfer_service_upload.cpp
  src/lib/sha1_digest.cpp
  src/lib/sha1_digest.h
  src/server.cpp
Due: clang-format, clang-tidy

docs: example of documented API
  src/lib/sha1_digest.h
Due: clang-format

fix: workflow
  .github/workflows/ci_cd.yml
Due: none

maint: weekly dependabot updates
  .github/dependabot.yml
Due: none
